.fileUpload {
    position: relative;
    overflow: hidden;
    margin-top: 10px;
}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 15px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}
.imageresize{
    margin-top: 5px;
    height:200px;
    width:100%;
}
@media only screen and (max-width:600px){
    .form-head{
        margin-top: 20px;
        margin-left: 5%;
        margin-right: 5%;
    }
    .set-image{
        width:250px;
        height: 250px;
    }
    .card-header-css{
        margin-top: 20px;
        width:90%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;
    }
}
@media only screen and (min-width:600px){
    .form-head{
        margin-top: 20px;
        margin-left: 25%;
        margin-right: 25%;
    }
    .set-image{
        width:250px;
        height: 300px;
        float: left;
    }
    .right-box{
        margin-left: 260px;
        text-align: left;
    }
    .inline-content{
        font-size: medium;
        margin-bottom: 5px;
    }
    .title{
        font-weight: bolder;
        font-size: larger;
    }
    .card-header-css{
        margin-top: 20px;
        width:700px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;
    }
}