@media only screen and (min-width:600px){
    .tabs-head{
        width: 500px;
        border: solid 1px lightgray;
        height: 500px;
        position: absolute;
        top:0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
    }
    .login-adjust{
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 130px;
    }
    .signup-adjust{
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 65px;
    }
}
@media only screen and (max-width:600px){
    .tabs-head{
        width: 90%;
        border: solid 1px lightgray;
        height: 400px;
        position: absolute;
        top:0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
    }
    .login-adjust{
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 80px;
    }
    .signup-adjust{
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px;
    }
}